body {
  font-family: Helvetica;
}

.nav_header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  text-align: center;
}

.nav_header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.nav {
  color: white;
  font-size: 18px;
}

.main {
  text-align: center;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

.second_banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

.main h4 {
  font-size: 23px;
  font-weight: bold;
}

.main p {
  font-size: 14px;
}
